<h2>Shoes</h2>
<div class="wrapper">
  <div class="header">Model</div>
  <div class="header">Price</div>
  <div class="header">State</div>
  <div class="detail">
    <ng-container *ngFor="let shoe of shoeService.shoes$ | async">
      <app-shoe-row [shoe]="shoe"></app-shoe-row>
    </ng-container>
  </div>
</div>
